<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/colaborador/colaborador.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/colaborador/formulario.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/baterponto/configUsuario.css}">
    <title>Configurações</title>
</head>
<body>
    <div class="header-bg">
        <header>
            <img th:src="@{/img/logosenac.svg}" alt="Logo Senac">
            <nav>
                <ul>
                    <li><a th:href="@{'/baterponto'}">Inicio</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </nav>
            <div>
                <a href=""> <img th:src="@{/icons/config.svg}" alt="Configurações"></a>
                <a href=""><img th:src="@{/icons/exit.svg}" alt="Sair do sistema"></a>
            </div>
        </header>
    </div>

    <main>

        <h1 class="display-large-sb">Configurações</h1>
       
        

    </main>    
</body>
</html>