<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/baterponto/baterponto.css}">
    <title>Meu Registro de Ponto</title>
</head>
<body>

    <div class="header-bg"></div>
        <header>
            <img th:src="@{/img/logosenac.svg}" alt="Logo Senac">
            <nav>
                <ul>
                    <li><a class="active" href="#">Inicio</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a th:href="@{'/solicitacao'}">Solicitações</a></li>
                </ul>
            </nav>
            <div>
                <a th:href="@{'/configuracaoUsuario'}"> <img th:src="@{/icons/config.svg}" alt="Configurações"></a>
                <a th:href="@{'/login'}"><img th:src="@{/icons/exit.svg}" alt="Sair do sistema"></a>
            </div>
        </header>
    </div>

    <main>
        <div class="contraste-0 identificacao">
            <h1 class="display-large-md">Olá, <span class="display-medium-sb" th:text="${pessoa.nome}"></span></h1>
            <div class="primary-50 funcao-matricula">
                <span class="componentes-medium-md" th:text="${pessoa.funcao.descricao}"></span>
                <span class="componentes-medium-rg"> Matricula: <span th:text="${pessoa.matricula}"></span></span>
            </div>
        </div>
        <section class="registrar-ponto">
            <div class="">
                <span class="componentes-medium-sb clound-300">Hoje é</span>
                <h3 class="display-medium-rg" th:text="${dataAtual}">13, Jan 2024</h3>
            </div>
            <div>
                <form action="/baterponto" method="post">
                    <button class="button" type="submit">Registrar Ponto</button>
                </form>
            </div>            
        </section>

        <section class="registro-pontos">
            <h3 class="section-large-sb clound-800">Registro de Ponto</h3>

            <table>
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Periodo</th>
                        <th>Entrada</th>
                        <th>Saida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="registroPontos: ${registrosPontos}">
                        <td class="componentes-small-md" data-th-text="${registroPontos.data}"></td>
                        <td class="componentes-small-rg clound-300" data-th-text="${registroPontos.periodo}"></td>
                        <td class="componentes-small-rg clound-300" data-th-text="${registroPontos.horaEntrada}"></td>
                        <td class="componentes-small-rg clound-300" data-th-text="${registroPontos.horaSaida}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
</body>
</html>