<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/inicioAdmin.css}">
    <title>Inicio</title>
</head>
<body>

    <div class="header-bg"></div>
        <header>
            <img th:src="@{/img/logosenac.svg}" alt="Logo Senac">
            <nav>
                <ul>
                    <li><a class="active" href="#">Inicio</a></li>
                    <li><a  th:href="@{'/colaboradores/lista'}">Colaboradores</a></li>
                    <li><a href="#">Solicitações</a></li>
                </ul>
            </nav>
            <div>
                <a th:href="@{'/configuracaoUsuario'}"> <img th:src="@{/icons/config.svg}" alt="Configurações"></a>
                <a th:href="@{'/login'}"><img th:src="@{/icons/exit.svg}" alt="Sair do sistema"></a>
            </div>
        </header>
    </div>

    <main>
        <div class="contraste-0 identificacao">
            <span class="componentes-medium-md">Seja bem vindo!</span>
            <h1 class="display-medium-sb" th:text="${pessoa.nome}"></h1>
        </div>

        <section class="registro-pontos">
            <h3 class="section-large-sb contraste-0">Registro de pontos hoje</h3>

            <table>
                <thead>
                    <tr>
                        <th>Colaborador</th>
                        <th>funcao</th>
                        <th>Entrada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="registroPontos: ${registrosPontos}">
                        <td class="componentes-small-md" data-th-text="${registroPontos.pessoa.nome}"></td>
                        <td class="componentes-small-rg clound-300" data-th-text="${registroPontos.pessoa.funcao.descricao}"></td>
                        <td class="componentes-small-rg clound-300" data-th-text="${registroPontos.horaEntrada}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
</body>
</html>